button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  overflow: visible;
}

input {
  line-height: normal;

  &[type="checkbox"],
  &[type="radio"]{
	  box-sizing: border-box;
  	padding: 0;
  } 
  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button{
  	height: auto;
  }
}

.btn{
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: $font-reg;
  font-size: 1rem;
  letter-spacing: -0.51px;
  color: $color-sea;

  width: fit-content;
  width: -moz-fit-content;
  border: 1px solid $color-sea;
  cursor: pointer;
  transition: all 500ms; 
  padding: .3rem .5rem .3rem .3rem;
  border-radius: .25rem;
  text-decoration: none;
  margin-bottom: .4rem;  

  &:hover{
    background-color: $color-sea;
    color: $color-white-1;
    text-decoration: none;
    transition: all 500ms; 
    
    & > .btn__arrow{
      background-image: url("../../bin-dev/assets/icons/SVG/arrow-white.svg");
      padding-left: .8rem;
    }
  }  

  &__text{
    margin-right: 1rem;
  }
  &--1{
    height: 1.8rem;
    margin-left: 1.1rem;
    
    @include bp(1053){
      height: auto;
    }
    
    &:hover{
      background-color: $color-sea;
      color: $color-white-1;
      text-decoration: none;
      transition: all 500ms; 
      
      & > .btn__arrow{
        background-image: url("../../bin-dev/assets/icons/SVG/arrow-white.svg");
        padding-left: .8rem;
      }
    }  
  }

  &__arrow{
    content: "";
    display: block;
    height: 1rem;
    width: 1.2rem;
    background-repeat: no-repeat;
    background-size: auto;
    transition: all 500ms;
    background-image: url("../../bin-dev/assets/icons/SVG/arrow-blue.svg");
    
    &:hover{
      background-image: url("../../bin-dev/assets/icons/SVG/arrow-white.svg");
    }
  }

}