.footer-phone{
    display: none;
    // height: 10rem;
    background-color: rgba($color: $color-white-1, $alpha: .76);
    z-index: 10;
    left: 0px;
    width: 100%;
    position: absolute;
    bottom: -11.50rem;
    transition: .5s bottom ease-in-out;

    justify-content: center;
    @include bp(1053){
        display: flex;
    }


}


.footer-phone.up{
    @include bp(1053){
        bottom: 0px;
    }
}

.footer-phone .tab-backToTop{
    @include bp(1053){
        background-image: url('../../bin-dev/assets/icons/SVG/mobile-nav-top.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 2.4rem;        
        background-position: center center;
        text-align: center;
        padding-left: 0;
        margin: 0 3rem;
        @include bp(400){
            margin: 0 1.5rem;
        }
    }
}

.mobile-footer-section{
    content: "";
    width: 1.51rem;
    height: 1rem;
}
.slick-next-mobile{
    @include bp(1053){
        background-image: url('../../bin-dev/assets/icons/SVG/mobile-nav-right.svg');
        background-position: right center;
        background-size: contain;
        height: 2.4rem;
        background-repeat: no-repeat;
        // margin-left: -2rem;
        // padding-right: 4rem;
        text-align: right;
    }
}
.slick-prev-mobile{
    @include bp(1053){

        background-image: url('../../bin-dev/assets/icons/SVG/mobile-nav-left.svg');
        background-size: contain;
        height: 2.4rem;
        background-repeat: no-repeat;
        background-position: left center;
        line-height: 3.8rem;
    }
}
.footer-nav{
    display: flex;
    padding-left: 1.95vw;
    padding-right: 1.95vw;
    & > *{
        flex: 3;
    }
}
.footer-copyright{
    @include bp(1053){
        padding-left: 1.00rem;
        padding-right: 1.00rem;
    }
}

.footer__badge{
    z-index: 11;
    right: 2.4rem;
    width: 2.4rem;
    position: absolute;
    bottom: -11.50rem;
    transition: .5s bottom ease-in-out;

    &.up{
        bottom: 0;
    }

}