img {
  border: 0;
  max-width: 100%;
  max-height: 100%;	
}

svg:not(:root) {
  overflow: hidden;
}

.oracle-tag{
  height: 4rem;
  width: 4rem;
  position: absolute;
  bottom: 0.4rem;
  right: 4rem;

  @include bp(1053){
    bottom: 0;
    display: none !important;
  }
}
