.pull-quote{
  color: $color-white-1;
  padding-left: 2.15rem;
  padding-right: 1.10rem;
  padding-top: 2.15rem;
  padding-bottom: 1.50rem;
  margin-bottom: 0.85rem;	
	width: 35.00rem;
	background-color: orangered;	
	height: 15.00rem;
}