@font-face {
    font-family: "Univers-Bold";
    src: url("../fonts/UniversNextPro-Bold.ttf");
    font-weight: normal;
}
@font-face {
    /*55 Roman*/
    font-family: "Univers";
    src: url("../fonts/UniversLTStd.otf");
    font-weight: normal;
}
@font-face {
    /*45 Light*/
    font-family: "Univers-lt";
    src: url("../fonts/UniversLTStd-Light.otf");
    font-weight: normal;
}


html {
  font-family: sans-serif;
  font-weight: 400;
}

body {
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.5em;
  font-family: $font-reg;
  color: #4e5052;
}

p {
  -webkit-margin-before:0px;
  display: block;
  line-height: 1.333333333333em;
}

a {
  background-color: transparent;
  cursor: pointer;
  color: #1f4f82;
  text-decoration: none;    
  &:active{
    outline: 0;  
  }
  &:hover{
    outline: 0; 
    text-decoration: underline;
  }
}

b,
strong {
  font-family: $font-bold;
    font-weight: 400;
}

h1 {
    color:#00758f;
    line-height: normal;
    font-family: $font-reg;
    letter-spacing: 0.02em;
    font-weight: 400;
}
h2{
    line-height: 1.2em;
    color:#00758f;
    font-weight: normal;
    font-family: $font-bold;
}

h3{
    color: #003b4d;
    font-family: $font-reg;
    font-weight: 400;
    line-height: 1.555555555555556em;
}
h4{    
    color: #00758f;
    font-family: $font-bold;
    font-weight: 400;
}
h6{
    color: #00758f;
    font-weight: normal;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.3em;
}

sub {
  bottom: -0.25em;
}

textarea {
  overflow: auto;
}

.cover__title{
  font-weight: 400;
  line-height: normal;
  letter-spacing: .01em;
  color: $color-white-1;
  
  &--main{
    font-family: $font-bold;
    font-size: $big-font-size-5;
    display: block;
  }
  &--sub{
    font-family: $font-reg;
    display: block;
    font-size: $big-font-size-2;    
  }  
}

.header{
  color: $color-blue-1;
  width: 91%;;

  &__main{
    font-family: $font-bold;
    font-size: 2.10rem;
    display: block;
  }
  &__sub{
    display: block;
  }
}

.pg{
  font-size: $default-font-size;
  line-height: 1.5em;
  &:not(:last-child){
    margin-bottom: 1.20rem;
  }
}