.mt--0_25{margin-top: .25rem;}
.mt--0_50{margin-top: .5rem;}
.mt--0_75{margin-top: .75rem;}
.mt--1_00{margin-top: 1rem;}
.mt--1_25{margin-top: 1.25rem;}
.mt--1_50{margin-top: 1.5rem;}
.mt--1_65{margin-top: 1.65rem;}
.mt--1_75{margin-top: 1.75rem;}
.mt--1_8{margin-top: 1.8rem;}
.mt--2_00{margin-top: 2rem;}
.mt--2_25{margin-top: 2.25rem;}
.mt--2_50{margin-top: 2.5rem;}
.mt--2_75{margin-top: 2.75rem;}
.mt--3_00{margin-top: 3rem;}

.mb--05{margin-bottom: .5rem;}

.mr--03{margin-right: .3rem;}

.addWhite{color: $color-white-1;}

.mt--0_25, .mt--0_50, .mt--0_75, .mt--1_00, .mt--1_25, .mt--1_50, .mt--1_65, .mt--0_75, .mt--1_8, .mt--2_00, .mt--2_25, .mt--2_50, .mt--2_75,.mt--3_00 {
  @include bp(1053) {
    margin-top: 0;
  }
}

